$yellow : #FFFF00;
$green : #00CC66;

.box {
  background: $gray;
  border: 5px solid black;
  padding: 50px 100px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

#user-show {
  display: none;
}

#results-show {
  display: none;
}

#error-show {
  display: none;
}
